__pycache__/
ljs_dataset_folder/
outdir/
text/__pycache__/
venv/
wandb/
filelists/
ljspeech/
waveglow/
logdir/
logs/
old_outdir/
blizzard/
blizzard_outdir/
waveglow/
blizzard_outdir_2/
ljspeech_outdir/
obama-2.0/
